//Reescribimos variables de boostrap
$rojo: #F34F51;
$verde: #0098AE;
$oscuro: #212121;
$gris: #808080;

//Asignamos paleta de colores a boostrap
$secondary: $verde;
$primary: $rojo;
$danger: $gris;
$dark: $oscuro;

//CAMBIOS EN LA TIPOGRAFIA
$display-font-weight: 900;

// Importar Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss";